/* Edge-specific scrollbar styling */
.edgeScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #525252 #262626;
  scrollbar-face-color: #525252;
  scrollbar-track-color: #262626;
  scrollbar-arrow-color: #10b981;
  -ms-overflow-style: auto !important; 
}

.edgeScrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.edgeScrollbar::-webkit-scrollbar-track {
  background: #262626;
  border-radius: 8px;
}

.edgeScrollbar::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 8px;
  border: 2px solid #262626;
}

.edgeScrollbar::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}
